.infoPanels {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 5;
  pointer-events: none;

  @media (max-width: 768px) {
    position: relative;
    justify-content: center;
    transform: none;
    margin-top: 35vh;
    pointer-events: auto;
    width: 100%;
    display: block;
    top: -30vh;
    right: auto;
    z-index: 10;
  }
}

.panel {
  text-align: center;
  padding: 20px;
  border: none;
  transition: all 0.3s ease;
  pointer-events: auto;
  position: relative;
  overflow: hidden;
  width: 185px;
  height: 185px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  backdrop-filter: blur(2px);

  @media (max-width: 768px) {
    margin-bottom: 10px;
    width: 100%;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    border-radius: 10px;
  }

  @media (max-width: 480px) {
    //height: 120px;
    max-width: 250px;
  }

  .label {
    display: block;
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;

    &:first-child {
      font-size: 16px;
      margin-bottom: 10px;
    }

    &:last-child {
      font-size: 18px;
    }

    @media (max-width: 768px) {
      font-size: 14px;

      &:first-child {
        font-size: 14px;
        margin-bottom: 8px;
      }

      &:last-child {
        font-size: 16px;
      }
    }

    @media (max-width: 480px) {
      font-size: 12px;

      &:first-child {
        font-size: 12px;
        margin-bottom: 6px;
      }

      &:last-child {
        font-size: 14px;
      }
    }
  }

  .valueContainer {
    display: flex;
    align-items: end;
  }

  .value {
    display: block;
    font-size: 60px;
    font-weight: 700;
    white-space: nowrap;
    line-height: 1;

    @media (max-width: 768px) {
      font-size: 40px;
    }

    @media (max-width: 480px) {
      font-size: 32px;
    }
  }

  .valueSmall {
    font-size: 20px;
    margin-bottom: 3px;

    @media (max-width: 768px) {
      font-size: 16px;
    }

    @media (max-width: 480px) {
      font-size: 14px;
    }
  }

  &:hover {
    background: transparent;
    border-color: transparent;
    box-shadow: none;

    &::after {
      opacity: 0;
    }
  }

  &::after {
    display: none;
  }
}

.panelsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  width: 380px;

  @media (max-width: 768px) {
    width: 100%;
    max-width: 400px;
    gap: 10px;
    margin: 0 auto;
  }

  @media (max-width: 480px) {
    max-width: 300px;
    gap: 8px;
  }
}

.left-top {
  grid-column: 1;
  grid-row: 1;
}

.left-bottom {
  grid-column: 1;
  grid-row: 2;
}

.right-top {
  grid-column: 2;
  grid-row: 1;
}

.right-bottom {
  grid-column: 2;
  grid-row: 2;
}
